body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000000;
  color: white;
}

header {
  text-align: center;
  padding: 40px 20px;
}

.gallery {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.gallery img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}
